<ul class="MoviesList">
	<li>
		<div class="card" id="trending">
		  <img class="card-img-top" src="../../assets/trending.png" alt="Card image cap">
		  <div class="card-body">
		    <p class="card-text">Check out the trending Movies and their ratings from our site.</p>
		    <a routerLink="/trending" class="btn btn-primary">Trending Movies</a>
		  </div>
		</div>
	</li>
	<li>
		<div class="card" id="forthcoming">
		  <img class="card-img-top" src="../../assets/forthcoming.png" alt="Card image cap">
		  <div class="card-body">
		    <p class="card-text">Check out the upcoming Movies and their release dates from our site.</p>
		    <a routerLink="/forthcoming" class="btn btn-primary">ForthComing Movies</a>
		  </div>
		</div>
	</li>
	<li>
		<div class="card" id="recommendations">
		  <img class="card-img-top" src="../../assets/recommend.png" alt="Card image cap">
		  <div class="card-body">
		    <p class="card-text">View recommendations based on your previous searches.</p>
		    <a routerLink="/recommended" class="btn btn-primary">Recommended Movies</a>
		  </div>
		</div>
	</li>
	<li>
		<div class="card" id="my-recommendations">
		  <img class="card-img-top" src="../../assets/myRecommendations.jpg" alt="Card image cap">
		  <div class="card-body">
		    <p class="card-text">Check out the Movies marked as recommended by you.</p>
		    <a routerLink="/my-recommendations" class="btn btn-primary">My Recommendations</a>
		  </div>
		</div>
	</li>
</ul>		


